html
{
	background-color: #AFB42B;
	font-family: 'Fresca', 'serif';
}

p
{
	font-size: 22px;
}

ul{
	font-size: 22px;
}


.logo
{
	width: 200px;
	display: block;
	margin: auto;
}

.date
{ 
  float: right;
}

.menu_list
{
	list-style: none;
	background-color: #E74C3C;
	height: 50px;
}
.menu_option
{
	display: inline-block;
	height: inherit;
	width: 100px;
	background-color: white;

}
.menu_option:hover
{
  background-color: #F5B7B1;
}

.link 
{
  color: #515A5A;
  display: inline-block;/* must be inline-block for height to take effect*/
  background-color: inherit;
  text-decoration: none;
  height: 50px;
}
.top3
{
	width: 420px;
}
.tightwrap
{
	display: block;
	margin:auto;
	width: 1300px;

}



.bottomLeft
{
	float: left;
	width: 400px;
}

.bottomRight
{
	float: right;
	width: 400px;
}
.bottomCenter
{
	display: inline-block;
	width: 400px;
}
.tightwrap
{
	margin: auto;
}